.form {
  max-width: 385px;
}

.form__fieldset {
  margin-bottom: 0;
  border: none;
  width: 385px;
}

.form__label {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  border-radius: 4px;
  border-style: #838383;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__input[type="text"],
.form__input[type="number"],
.form__input[type="datetime-local"],
.form__input[type="email"] {
  max-width: 385px;
  min-width: 385px;
  height: 60px;
  margin-bottom: 32px;
  margin-top: 8px;
}

.form__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  max-width: 385px;
  min-width: 385px;
  height: 60px;
  margin-bottom: 32px;
  background-color: #2f80ed;
  color: white;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border: none;
}

.form__button:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  margin-bottom: 0;
  background-color: #2f80ed;
  background-image: url("../images/check.svg");
  cursor: pointer;
}
